{% include 'main-template.html' %}

{% block content %}

<head>
  <title>ArtChain | 403</title>
</head>


  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">ArtChain
      <small>Forbidden</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/index">Home</a>
      </li>
      <li class="breadcrumb-item active">403</li>
    </ol>

    <div class="jumbotron">
      <h1 class="display-1 center-title">403 Forbidden</h1>
      <p class="center-title">Sorry, you are not authorized to access this page.</p>
      <p class="center-title"><a href="/index">Go back to the homepage</a></p>
    </div>
    <!-- /.jumbotron -->

  </div>
  <!-- /.container -->
{% endblock content %}

{% include 'footer.html' %}
