{% include 'main-template.html' %}
{% block content %}
<head>
   <title>ArtChain | About</title>
</head>
<div class="container">
   <h1 class="mt-4 mb-3">ArtChain
      <small>About Us</small>
   </h1>
   <ol class="breadcrumb">
      <li class="breadcrumb-item">
         <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">About Us</li>
   </ol>
   <div class="row">
      <div class="col-lg-4">
         <img class="img-fluid rounded mb-4" src="static/images/logos/artchain_logo.png" width="650" height="450">
      </div>
      <div class="col-lg-8 about-text">
         <h2>About ArtChain</h2>
         <p> ArtChain, the first and only blockchain custom-built from the ground up to power a new category of decentralized art markets.
            Today, the art market  is even more centralized than the financial industry was prior to the creation of Bitcoin. A handful of private companies effectively control public domain, and earn monopoly profits off of content that they don't even create. Meanwhile, the creators who actually produce this content are underpaid, under-engaged and under-monetized.
            These problems stem from the fact that the data and content created by users today is privately owned by a handful of companies, rather than publicly accessible as an open utility.
            We believe all of these problems can be solved by decentralizing social media in the same way Bitcoin and Ethereum are decentralizing the financial system.
         </p>
      </div>
      <div class="col-lg-12">
         <p>They  have shown that dominant platforms can be built around open code and open data, rather than around private companies that monopolize their data and benefit shareholders at the expense of everyone else.
            If we can start putting art content into a public blockchain, rather than giving it to a handful of private companies to monopolize, we believe we can create an economy of scale around that blockchain that is powerful enough to rival, and ultimately surpass, what the traditional companies have created.
            In some sense, we can solve a collective action problem among independent publishers by making it individually rational for them to contribute their content to a new globally-shared pool that they can never be di-intermediated from and that, for the first time, isn't controlled by a single company.
         </p>
      </div>
   </div>
   <div class="row form-center mt-3">
      <video controls autoplay muted width="870" height="500"><source src="static/videos/ArtChain_presentation.mp4" type="video/mp4">Your browser doesn't support this video.</video>   </div>
   <h2 class="mt-5">About Our Team</h2>
   <p>We are six students in Engineering and Management at Polytechnic University of Turin, we developed this website as part of the exam of the Information Systems course.
      Our goal is to give artists a platform where they can be more free to develop and share their contents, in order to improve their reputation and increase their revenues,
      and to give our customers the possibility to know new artists.
   </p>
   <div class="row">
      <div class="col-lg-4 mb-4">
         <div class="card h-100 text-center">
            <img class="card-img-top" src="static/images/teamphotos/Lorenzo.png" alt="">
            <div class="card-body">
               <h4 class="card-title">Lorenzo Chiarini</h4>
               <h6 class="card-subtitle mb-2 text-muted">Management Engineer</h6>
            </div>
            <div class="card-footer">
               <a href="mailto:s302278@studenti.polito.it">s302278@studenti.polito.it</a>
            </div>
         </div>
      </div>
      <div class="col-lg-4 mb-4">
         <div class="card h-100 text-center">
            <img class="card-img-top" src="static/images/teamphotos/Walter.png" alt="">
            <div class="card-body">
               <h4 class="card-title">Walter De Carne</h4>
               <h6 class="card-subtitle mb-2 text-muted">Management Engineer</h6>
            </div>
            <div class="card-footer">
               <a href="mailto:walter.decarne@studenti.polito.it">walter.decarne@studenti.polito.it</a>
            </div>
         </div>
      </div>
      <div class="col-lg-4 mb-4">
         <div class="card h-100 text-center">
            <img class="card-img-top" src="static/images/teamphotos/Domenico.png" alt="">
            <div class="card-body">
               <h4 class="card-title">Domenico Languino</h4>
               <h6 class="card-subtitle mb-2 text-muted">Management Engineer</h6>
            </div>
            <div class="card-footer">
               <a href="mailto:s292347@studenti.polito.it">s292347@studenti.polito.it</a>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-4 mb-4">
         <div class="card h-100 text-center">
            <img class="card-img-top" src="static/images/teamphotos/Daniele.png" alt="">
            <div class="card-body">
               <h4 class="card-title">Daniele Pincelli</h4>
               <h6 class="card-subtitle mb-2 text-muted">Management Engineer</h6>
            </div>
            <div class="card-footer">
               <a href="mailto:s301531@studenti.polito.it">s301531@studenti.polito.it</a>
            </div>
         </div>
      </div>
      <div class="col-lg-4 mb-4">
         <div class="card h-100 text-center">
            <img class="card-img-top" src="static/images/teamphotos/Francesco.png" alt="">
            <div class="card-body">
               <h4 class="card-title">Francesco Provenza</h4>
               <h6 class="card-subtitle mb-2 text-muted">Management Engineer</h6>
            </div>
            <div class="card-footer">
               <a href="mailto:s303534@studenti.polito.it">s303534@studenti.polito.it</a>
            </div>
         </div>
      </div>
      <div class="col-lg-4 mb-4">
         <div class="card h-100 text-center">
            <img class="card-img-top" src="static/images/teamphotos/Mattia.png" alt="">
            <div class="card-body">
               <h4 class="card-title">Mattia Salso</h4>
               <h6 class="card-subtitle mb-2 text-muted">Management Engineer</h6>
            </div>
            <div class="card-footer">
               <a href="mailto:s306222@studenti.polito.it">s306222@studenti.polito.it</a>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}
{% include 'footer.html' %}