{% include 'main-template.html' %}

{% block content %}

<head>
  <title>ArtChain - #CodiceCrypto</title>
</head>

    <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">ArtChain
      <small>#Codice Crypto</small> <!--RENDERE DINAMICO-->
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/index">Home</a>
      </li>
      <li class="breadcrumb-item active">Crypto #codice</li> <!--rendere dinamico-->
    </ol>

  </div>


       <div class="container">

<div class="container rounded bg-white mb-5">
            <div class="p-3 py-5 form-center">
                <div class="row mt-2 crypto-page">
                    <div class="col-md-6 mt-2"><h5>Price</h5><p>PRICE IN CRYPTO (IN €)</div><br>
                    <div class="col-md-6 mt-2"><h5>Artist's Name</h5><p>NOME</p></div><br>
                    <div class="col-md-6 mt-2"><h5>Artist's Description</h5><p>DESCRIZIONE</div><br>
                    <div class="col-md-6 mt-2"><h5>Quantity</h5><p>100</div><br>
                </div>
            </div>
    <div class="mt-1 text-center">
     <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                               Buy Crypto
     </button>
        </div>
    </div>
</div>

{% endblock content %}

{% include 'footer.html' %}