{% include 'main-template.html' %}

{% block content %}

<head>
  <title>ArtChain | Cryptos</title>
</head>


  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">ArtChain
      <small>Cryptocurrencies</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/index">Home</a>
      </li>
      <li class="breadcrumb-item active">Cryptocurrencies</li>
    </ol>


        <hr>
        <table class="styled-table">
           <thead>
              <tr>
                 <th>Artist</th>
                 <th>Category</th>
                 <th>Value</th>
                 <th>Growth</th>
                 <th></th>
              </tr>
           </thead>
           <tbody>
              <tr>
                 <th>
                    <div>
                       <div class="col">
                          <a href="#">
                             <img class="img-fluid-avatar" src="http://placehold.it/100x100" alt="">
                             <p class="artist-name">Artist name</p>
                          </a>
                       </div>
                    </div>
                 </th>
                 <th>
                    <p>Artist category</p>
                 </th>
                 <th>
                    <p>Artist Value</p>
                 </th>
                 <th>
                    <p>Artist Growth</p>
                 </th>
                 <th>
                    <div><a class="btn btn-outline-dark mt-auto btn-pad" href="#">Buy</a></div>
                 </th>
              </tr>
              <tr>
                 <th>
                    <div>
                       <div class="col">
                          <a href="#">
                             <img class="img-fluid-avatar" src="http://placehold.it/100x100" alt="">
                             <p class="artist-name">Artist name</p>
                          </a>
                       </div>
                    </div>
                 </th>
                 <th>
                    <p>Artist category</p>
                 </th>
                 <th>
                    <p>Artist Value</p>
                 </th>
                 <th>
                    <p>Artist Growth</p>
                 </th>
                 <th>
                    <div><a class="btn btn-outline-dark mt-auto btn-pad" href="#">Buy</a></div>
                 </th>
              </tr>
              <tr>
                 <th>
                    <div>
                       <div class="col">
                          <a href="#">
                             <img class="img-fluid-avatar" src="http://placehold.it/100x100" alt="">
                             <p class="artist-name">Artist name</p>
                          </a>
                       </div>
                    </div>
                 </th>
                 <th>
                    <p>Artist category</p>
                 </th>
                 <th>
                    <p>Artist Value</p>
                 </th>
                 <th>
                    <p>Artist Growth</p>
                 </th>
                 <th>
                    <div><a class="btn btn-outline-dark mt-auto btn-pad" href="#">Buy</a></div>
                 </th>
              </tr>
              <tr>
                 <th>
                    <div>
                       <div class="col">
                          <a href="#">
                             <img class="img-fluid-avatar" src="http://placehold.it/100x100" alt="">
                             <p class="artist-name">Artist name</p>
                          </a>
                       </div>
                    </div>
                 </th>
                 <th>
                    <p>Artist category</p>
                 </th>
                 <th>
                    <p>Artist Value</p>
                 </th>
                 <th>
                    <p>Artist Growth</p>
                 </th>
                 <th>
                    <div><a class="btn btn-outline-dark mt-auto btn-pad" href="#">Buy</a></div>
                 </th>
              </tr>
           </tbody>
        </table>
  </div>
    <hr>

{% endblock content %}

{% include 'footer.html' %}
