{% include 'main-template.html' %}
{% block content %}
<head>
   <title>ArtChain | Forgot Password</title>
</head>
<div class="container">
   <h1 class="mt-4 mb-3">ArtChain
      <small>Forgot Password</small>
   </h1>
   <ol class="breadcrumb">
      <li class="breadcrumb-item">
         <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item">
         <a href="/login">Login</a>
      </li>
      <li class="breadcrumb-item active">Forgot Password</li>
   </ol>
   <br><br>
   <p class="text-center text-primary">If you forgot your password, type your email in the form below.<br>We will send you your data to restore the account.</p>
   <p class="text-center text-danger">Please, once you have access again to your account, change your password for security reasons.</p>
   <div class="form-login">
      <div class="heading">
         <form method="POST">
            {{ form.csrf_token }}
            <div>
               {{form.email.label}}
               {{form.email(class="form-control")}}
            </div>
            <div class="mt-4 text-center">
               {{form.submit(class="btn btn-primary profile-button btn-submit-artist-registration")}}
            </div>
         </form>
      </div>
   </div>
   <br>
   {% for error in form.email.errors %}
   {% if error %}
   <div class="alert alert-danger center-title" role="alert">
      {{ error }}
   </div>
   {% endif %}
   {% endfor %}
   {% if email_sent %}
   <div class="alert alert-success center-title" role="alert">
      An email with your username and new password has been sent. Check your inbox.
   </div>
   {% elif wrong_email %}
   <div class="alert alert-danger center-title" role="alert">
      The email doesn't exists in our database.
   </div>
   {% endif %}
</div>
<br>
{% endblock content %}
{% include 'footer.html' %}