{% include 'main-template.html' %}

{% block content %}

<head>
  <title>ArtChain | {{nft.name}}</title>
</head>

    <div class="container">

    <h1 class="mt-4 mb-3">ArtChain
      <small>NFT</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
         <li class="breadcrumb-item">
        <a href="/explore-nfts">NFTs</a>
      </li>
      <li class="breadcrumb-item active">{{nft.name}}</li>
    </ol>

  </div>

        <section>
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-lg-6"><img class="img-fluid mb-5 mb-md-0" src="{{url_for('static', filename='uploads/'+nft.img_src)}}" alt="{{nft.name}}"/></div>
                    <div class="col-lg-6">
                        <h1 class="display-5 fw-bolder">{{nft.name}}</h1>
                        <div class="mt-5">
                            <p class="lead"><strong>Creator</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{nft_creator.username}}</p>
                        <p class="lead"><strong>Category</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{nft.category}}</p>
                        <p class="lead mt-5 font-italic">{{nft.description}}</p>
                        <div class="fs-5 mt-5 text-center">
                            <h2>{{nft.price}} €</h2>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
               <div class="form-center mb-5">
                   <button class="btn btn-outline-dark flex-shrink-0" type="button">Buy</button>
               </div>
        </section>

{% endblock content %}

{% include 'footer.html' %}