{% include 'main-template.html' %}

{% block content %}

<head>
  <title>ArtChain | {{nft.name}}</title>
</head>

    <div class="container">

    <h1 class="mt-4 mb-3">ArtChain
      <small>{{nft.name}}</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
         <li class="breadcrumb-item">
        <a href="/explore-nfts">NFTs</a>
      </li>
      <li class="breadcrumb-item active">NFT</li>
    </ol>

  </div>

        <section class="mb-5">
            <div class="container">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-warning center-title alert-dismissible fade show" role="alert">
                      {{message}}
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

                {% for error in form.errors %}
          {% if error %}
            <div class="alert alert-danger alert-dismissible fade show center-title" role="alert">
              {{ error }} field not valid
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
          {% endif %}
        {% endfor %}

                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-lg-6"><img class="img-fluid mb-5 mb-md-0" src="{{url_for('static', filename='uploads/nfts/'+nft.img_src)}}" alt="{{nft.name}}"/></div>
                    <div class="col-lg-6">
                        <h1 class="display-5 fw-bolder">{{nft.name}}</h1>
                        <div class="mt-5">
                            <p class="lead"><strong>Creator</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{url_for('profile_by_user', username=nft_creator.username)}}">{{nft_creator.username}}</a></p>
                        <p class="lead"><strong>Category</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{nft.category}}</p>
                             <p class="lead"><strong>Owner</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{nft_owner.username}}</p>
                            <p class="lead"><strong>On Sale</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                {% if nft.on_sale %}
                                Yes
                                {% else %}
                                No
                                {% endif %}
                            </p>
                        <p class="lead mt-5 font-italic">{{nft.description}}</p>
                        <div class="fs-5 mt-5 text-center">
                            <h2>{{nft.price}} ACH</h2>
                        </div>
                        </div>
                    </div>
                </div>
            {% if session.username and session.username != nft_owner.username %}
                <form method="post">
                    {{form.hidden_tag()}}
               <div class="form-center mt-5">
                   {{form.submit(class="btn btn-outline-dark flex-shrink-0 btn-lg", onclick="return confirm('Are you sure you want to buy this NFT?');")}}
               </div>
                </form>
            {% endif %}

                {% if session.username and session.username == nft_owner.username and nft.on_sale == 1 %}
                <form method="post">
                    {{form.hidden_tag()}}
               <div class="form-center mt-5">
                   {{form.submit(class="btn btn-outline-dark flex-shrink-0 btn-lg", onclick="return confirm('Are you sure you want to keep this item?');")}}
               </div>
                </form>
            {% endif %}

            {% if session.username and session.username == nft_owner.username and nft.on_sale == 0 %}
                <hr>
            <form method="post">
                {{form.hidden_tag()}}
                 <div class="container form-center mt-3">
                           <div class="col-lg-6">
                               <div class="row text-center form-center">
                                 <div class="text-center">
                                   {{form.new_price.label}}{{form.new_price(class="form-control", placeholder="ACH")}}
                                 </div>
                               </div>
                               <br>
                               <div class="row text-center form-center">
                                   <div class="text-center">
                                    {{form.submit(class="btn btn-outline-dark flex-shrink-0", onclick="return confirm('Are you sure you want to put on sale this NFT?');")}}
                                   </div>
                               </div>
                        </div>
                 </div>
            </form>
            {% endif %}
            </div>
        </section>
{% endblock content %}

{% include 'footer.html' %}