{% include 'main-template.html' %}

{% block content %}

<head>
  <title>ArtChain | {{crypto.name}}</title>
</head>

    <div class="container">

    <h1 class="mt-4 mb-3">ArtChain
      <small>{{crypto.name}}</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
         <li class="breadcrumb-item">
        <a href="/explore-crypto">Cryptos</a>
      </li>
      <li class="breadcrumb-item active">Crypto</li>
    </ol>

  </div>

        <section>
            <div class="container">
                <div class="mt-4">
                <h1 class="display-5 fw-bolder text-center">{{crypto.name}}</h1>
                <div class="mt-4">
                    <p class="lead text-center"><strong>Artist</strong>&nbsp;&nbsp;&nbsp;<a href="{{url_for('profile_by_user', username=crypto_artist.username)}}">{{crypto_artist.username}}</a></p>
                    <p class="lead text-center"><strong>Category</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{crypto_artist.category}}</p>
                        <div class="fs-5 mt-5 text-center">
                            <h2>1 {{crypto.name}} = {{crypto_artist.value}} €</h2>
                        </div>
                        </div>
                    </div>
               <div class="form-center mt-5 mb-5">
                   <form>
                       {{form.hidden_tag()}}
                       <div class="text-center">
                           {{form.amount.label(class="text-center")}}{{form.amount(class="form-control")}}
                       </div>
                        <div class="text-center mt-4">
                       {{form.submit(class="btn btn-outline-dark flex-shrink-0 btn-lg")}}
                        </div>
                   </form>
               </div>
            </div>
        </section>

{% endblock content %}

{% include 'footer.html' %}