{% include 'main-template.html' %}

{% block content %}

<head>
  <title>ArtChain - Login</title>
</head>

<body>
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">ArtChain
      <small>Login</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/index">Home</a>
      </li>
      <li class="breadcrumb-item active">Login</li>
    </ol>

 <div class="form-login">
  <div class="heading">
    <form method="POST">
      {{ form.csrf_token }}
      <div>
        {{form.username.label}}
        {{form.username()}}
      </div>
   <div>
      {{form.password.label}}
      {{form.password()}}
   </div>

      <div class="mt-3 text-center">
         {{form.submit(class="btn btn-primary profile-button btn-submit-artist-registration")}}
      </div>

        {{ form.hidden_tag() }}

       </form>
 		</div>
 </div>
    <h6 class="text-center mt-1"><a href="/forgot">Forgot password?</a></h6>
<hr>
    <div class="mt-3 mb-3">
    <div class="mb-3">
      <h5>Are you an artist? Sign up <a href="/signupartist">here</a></h5>
    </div>
    <div>
      <h5>Are you a customer? Sign up <a href="/signupcustomer">here</a></h5>
    </div>
    </div>

  </div>

</body>

{% endblock content %}

{% include 'footer.html' %}
