<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mail</title>
</head>
<body>

{%if artist %}

<p>Dear <strong>{{name}} {{surname}}</strong>, welcome to ArtChain! Thanks for your registration!</p>

<p>Your credentials are the following:</p>
<p>Username: <strong>{{username}}</strong><br>Password: <strong>{{password}}</strong></p>
<p>You registered as a <strong>{{category}}</strong>.</p>
<p>We hope you will enjoy our website!</p>

{% else %}

<p>Dear customer, welcome to ArtChain! Thanks for your registration! </p>

<p>Your credentials are the following:</p>
<p>Username: <strong>{{username}}</strong><br>Password: <strong>{{password}}</strong></p>
<p>We hope you will enjoy our website!</p>

{% endif %}

</body>
</html>