<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mail</title>
</head>
<body>

{%if artist %}

<p>Dear <strong>{{name}} {{surname}}</strong>, thanks for your registration!</p>

<p>Your credentials are the following:</p>
<p>Username: <strong>{{username}}</strong><br>Password: <strong>{{password}}</strong></p>
<p>You registered as <strong>{{category}}</strong>.</p>
<p>Welcome to ArtChain! We hope you will enjoy our website!</p>

{% endif %}

{% if not artist and not restore_account and not contact_request %}

<p>Dear customer, thanks for your registration! </p>

<p>Your credentials are the following:</p>
<p>Username: <strong>{{username}}</strong><br>Password: <strong>{{password}}</strong></p>
<p>Welcome to ArtChain! We hope you will enjoy our website!</p>

{% endif %}

{% if restore_account %}
<p>Dear customer, you requested the restore of your password.<br>Since we have no access to it, we changed it.</p>

<p>Your new credentials are the following:</p>
<p>Username: <strong>{{username}}</strong><br>Password: <strong>{{password}}</strong></p>
<p class="text-danger"><strong>Please, once you have access again to your account, change your password for security reasons.</strong></p>

{% endif %}

{% if contact_request %}

<h2>Contact Request</h2>
<h3>Name: {{name}}</h3>
<h3>Email: {{email}}</h3>
<h3>Message:</h3>
<p>{{message}}</p>

{% endif %}

</body>
</html>