{% include 'main-template.html' %}
{% block content %}
<head>
   <title>ArtChain | Profile</title>
</head>
<div class="container">
   <h1 class="mt-4 mb-3">ArtChain
      <small>Profile</small>
   </h1>
   <ol class="breadcrumb">
      <li class="breadcrumb-item">
         <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Profile</li>
   </ol>
   {% for error in form.email.errors %}
   {% if error %}
   <div class="alert alert-danger center-title alert-dismissible fade show" role="alert">
      {{ error }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
   </div>
   {% endif %}
   {% endfor %}
   {% for error in form.errors %}
   {% if error and user_logged_in.role_id == 3 %}
   <div class="alert alert-danger alert-dismissible fade show center-title" role="alert">
      {{ error }} field not valid
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
   </div>
   {% endif %}
   {% endfor %}
   {% if password_check_fail %}
   <div class="alert alert-danger center-title alert-dismissible fade show" role="alert">
      Password must contain at least 1 lowercase char, 1 uppercase char, 1 digit and 1 symbol
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
   </div>
   {% endif %}
   {% for error in form.password.errors %}
   {% if error %}
   <div class="alert alert-danger center-title alert-dismissible fade show" role="alert">
      {{ error }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
   </div>
   {% endif %}
   {% endfor %}
   {% for error in form.confpassword.errors %}
   {% if error %}
   <div class="alert alert-danger center-title alert-dismissible fade show" role="alert">
      {{ error }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
   </div>
   {% endif %}
   {% endfor %}
   {% if form.password.data != form.confpassword.data %}
   <div class="alert alert-danger center-title alert-dismissible fade show" role="alert">
      {{"Passwords should match"}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
   </div>
   {% endif %}
   {% if settings_edited %}
   <div class="alert alert-success center-title alert-dismissible fade show" role="alert">
      Settings updated.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
   </div>
   {% endif %}
   {% if email_already_existing %}
   <div class="alert alert-danger center-title alert-dismissible fade show" role="alert">
      The email you inserted is already used.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
   </div>
   {% endif %}
   {% if user_logged_in.role_id == 3 %}
   <form method="post" enctype=multipart/form-data>
      {{ form.hidden_tag() }}
      <div class="container rounded bg-white mt-5 mb-5">
         <div class="row">
            <div class="col-md-3 border-right mt-5">
               <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                  <img class="rounded-circle" width="150px" src="{{url_for('static', filename='uploads/profilepics/'+user_logged_in.profile_pic_src)}}">
                  <span class="font-weight-bolder mt-4">{{ user_logged_in.name }} {{ user_logged_in.surname }}</span>
                  <span class="text-black-30 mt-1">{{user_logged_in.username}}</span>
                  <span class="text-black-50 mt-1">{{user_logged_in.category}}</span>
                  <span class="text-primary font-weight-bold mt-3">{{user_logged_in.value}}<br>value points</span>
               </div>
            </div>
            <div class="col-md-5 border-right">
               <div class="p-3 py-5">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                     <h4 class="text-right">Profile Settings</h4>
                  </div>
                  <div class="row mt-3">
                     <div class="col-md-12">{{form.email.label}}{{form.email(class="form-control", value=user_logged_in.email)}}</div>
                     <br>
                     <div class="col-md-12 mt-2">{{form.password.label}}{{form.password(class="form-control", placeholder="change password")}}</div>
                     <br>
                     <div class="col-md-12 mt-2">{{form.confpassword.label}}{{form.confpassword(class="form-control", placeholder="confirm password")}}</div>
                     <br>
                     <div class="col-md-12 mt-4">{{form.profile_pic.label}}{{form.profile_pic(class="form-control mt-5, border-0", id="formFile")}}</div>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="p-3 py-5">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                     <h4 class="text-right">Social Networks</h4>
                  </div>
                  <div class="col-md-12">{{form.instafollowers.label}}{{form.instauser(class="form-control", placeholder=user_logged_in.instaname or "username")}}{{form.instafollowers(class="form-control", placeholder=user_logged_in.insta or "followers")}}</div>
                  <br>
                  <div class="col-md-12">{{form.facefollowers.label}}{{form.faceuser(class="form-control", placeholder=user_logged_in.facename or "username")}}{{form.facefollowers(class="form-control", placeholder=user_logged_in.face or "followers")}}</div>
                  <br>
                  <div class="col-md-12">{{form.twitterfollowers.label}}{{form.twitteruser(class="form-control", placeholder=user_logged_in.twittername or "username")}}{{form.twitterfollowers(class="form-control", placeholder=user_logged_in.twitter or "followers")}}</div>
                  <br>
                  <div class="col-md-12">{{form.ytfollowers.label}}{{form.ytuser(class="form-control", placeholder=user_logged_in.ytname or "username")}}{{form.ytfollowers(class="form-control", placeholder=user_logged_in.yt or "followers")}}</div>
                  <br>
                  <div class="col-md-12">{{form.tiktokfollowers.label}}{{form.tiktokuser(class="form-control", placeholder=user_logged_in.tiktokname or "username")}}{{form.tiktokfollowers(class="form-control", placeholder=user_logged_in.tiktok or "followers")}}</div>
                  <br>
                  <div class="col-md-12">{{form.twitchfollowers.label}}{{form.twitchuser(class="form-control", placeholder=user_logged_in.twitchname or "username")}}{{form.twitchfollowers(class="form-control", placeholder=user_logged_in.twitch or "followers")}}</div>
                  <br>
                  {% if user_logged_in.category == 'Musician' %}
                  <div class="col-md-12">{{form.applemusicfollowers.label}}{{form.applemusicuser(class="form-control", placeholder=user_logged_in.applemusicname or "username")}}{{form.applemusicfollowers(class="form-control", placeholder=user_logged_in.applemusic or "followers")}}</div>
                  <br>
                  <div class="col-md-12">{{form.spotifyfollowers.label}}{{form.spotifyuser(class="form-control", placeholder=user_logged_in.spotifyname or "username")}}{{form.spotifyfollowers(class="form-control", placeholder=user_logged_in.spotify or "followers")}}</div>
                  <br>
                  <div class="col-md-12">{{form.soundcloudfollowers.label}}{{form.soundclouduser(class="form-control", placeholder=user_logged_in.soundcloudname or "username")}}{{form.soundcloudfollowers(class="form-control", placeholder=user_logged_in.soundcloud or "followers")}}</div>
                  <br>
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
      <div class="mt-5 text-center">{{form.submit(class="btn btn-primary profile-button btn-submit-artist-registration")}}</div>
   </form>
   {% elif user_logged_in.role_id == 1 or user_logged_in.role_id == 2 %}
   <form method = "post">
      {{ form.hidden_tag() }}
      <div class="align-items-center">
         <div class="align-items-center">
            <div class="align-items-center">
               <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Profile Settings</h4>
               </div>
               <div class="row mb-5">
                  <div class="col-md-6 mt-2"><label>Username</label><input type="text" class="form-control" name="country" value={{user_logged_in.username}} readonly></div>
                  <br>
                  <div class="col-md-6 mt-2">{{form.email.label}}{{form.email(class="form-control", value=user_logged_in.email)}}</div>
                  <br>
                  <div class="col-md-6 mt-2">{{form.password.label}}{{form.password(class="form-control", placeholder="change password")}}</div>
                  <br>
                  <div class="col-md-6 mt-2">{{form.confpassword.label}}{{form.confpassword(class="form-control", placeholder="confirm password")}}</div>
                  <br>
               </div>
               <div class="mt-5 mb-5 text-center">
                  {{form.submit(class="btn btn-primary profile-button")}}
               </div>
            </div>
         </div>
      </div>
   </form>
   {% endif %}
</div>
</div>
</div>
</div>
{% endblock content %}
{% include 'footer.html' %}