<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ArtChain - MyWallet</title>
    <link rel="icon" type="image/x-icon" href="static/images/logos/Logo Artchain.png">

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/modern-business.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/index"><img src="static/images/logos/Logo Artchain white.png" width="85" height="65"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Explore
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPages">
                <a class="dropdown-item" href="/explore-nfts">NFTs</a>
                <a class="dropdown-item" href="/explore-crypto">Cryptocurrencies</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/stats">Stats</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              MyAccount
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="/myaccount-mywallet">MyWallet</a>
                <a class="dropdown-item" href="/myaccount-profile">Profile</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <br>


  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">ArtChain
      <small>MyWallet</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">MyWallet</li>
    </ol>
<div class="mt-4 mb-3">
        <h3>My Cryptos</h3>
          <hr>
          <table class="styled-table">
        <thead>
          <tr>
            <th>Artist</th>
            <th>Value</th>
            <th>Growth</th>
            <th>Quantity</th>
            <th>Tot. Value</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid-avatar" src="http://placehold.it/100x100" alt="">
                    <p class="artist-name">Artist name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>Artist Value</p>
            </th>
            <th>
              <p>Artist Growth</p>
            </th>
            <th>
              <p>Quantity</p>
            </th>
            <th>
              <p>Total value</p>
            </th>
            <th>
                <div class="sell-crypto">
                 <div><input type="text" class="col-md-5 padding-crypto" placeholder="N° crypto" value=""></div>
                 <div><a class="btn btn-outline-dark mt-3 mb-3 btn-pad" href="#">Sell</a></div>
                </div>            </th>
          </tr>
                  <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid-avatar" src="http://placehold.it/100x100" alt="">
                    <p class="artist-name">Artist name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>Artist Value</p>
            </th>
            <th>
              <p>Artist Growth</p>
            </th>
            <th>
              <p>Quantity</p>
            </th>
            <th>
              <p>Total value</p>
            </th>
            <th>
                <div class="sell-crypto">
                 <div><input type="text" class="col-md-5 padding-crypto" placeholder="N° crypto" value=""></div>
                 <div><a class="btn btn-outline-dark mt-3 mb-3 btn-pad" href="#">Sell</a></div>
                </div>            </th>
          </tr>
                  <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid-avatar" src="http://placehold.it/100x100" alt="">
                    <p class="artist-name">Artist name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>Artist category</p>
            </th>
            <th>
              <p>Artist Value</p>
            </th>
            <th>
              <p>Artist Growth</p>
            </th>
            <th>
              <p>Quantity</p>
            </th>
            <th>
                <div class="sell-crypto">
                 <div><input type="text" class="col-md-5 padding-crypto" placeholder="N° crypto" value=""></div>
                 <div><a class="btn btn-outline-dark mt-3 mb-3 btn-pad" href="#">Sell</a></div>
                </div>            </th>
          </tr>
                  <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid-avatar" src="http://placehold.it/100x100" alt="">
                    <p class="artist-name">Artist name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p class="mt-3 mb-3">Artist category</p>
            </th>
            <th>
              <p class="mt-3 mb-3">Artist Value</p>
            </th>
            <th>
              <p class="mt-3 mb-3">Artist Growth</p>
            </th>
            <th>
              <p class="mt-3 mb-3">Quantity</p>
            </th>
            <th>
                <div class="sell-crypto">
                 <div><input type="text" class="col-md-5 padding-crypto" placeholder="N° crypto" value=""></div>
                 <div><a class="btn btn-outline-dark mt-3 mb-3 btn-pad" href="#">Sell</a></div>
                </div>
            </th>
          </tr>
        </tbody>
      </table>
      </div>
    <br>
<div class="mt-4 mb-3">
        <h3>My NFTs</h3>
          <hr>
          <table class="styled-table">
        <thead>
          <tr>
            <th>NFT</th>
            <th>Category</th>
            <th>Value</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid" src="http://placehold.it/200x200" alt="">
                    <p class="artist-name">NFT name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>NFT category</p>
            </th>
            <th>
              <p>NFT Value</p>
            </th>
            <th>
              <p>khjsdkfjh sflkajdshfj adslkjh asdkjlfhadskljfh asdjkhjkhalskdjf hasdjklf adshjkf ahsdjkfl adshfjk  hasdjkfl adshfla dhfjkalsdhfjkadslhf  greafds sdfasd asdfljkadshf adslkfjh adskjflhads fhkadsjfh adslkjf asdlfj afdagsdf</p>
            </th>
          </tr>
          <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid" src="http://placehold.it/200x200" alt="">
                    <p class="artist-name">NFT name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>NFT category</p>
            </th>
            <th>
              <p>NFT Value</p>
            </th>
            <th>
              <p>khjsdkfjh sflkajdshfj adslkjh asdkjlfhadskljfh asdjkhjkhalskdjf hasdjklf adshjkf ahsdjkfl adshfjk  hasdjkfl adshfla dhfjkalsdhfjkadslhf  greafds sdfasd asdfljkadshf adslkfjh adskjflhads fhkadsjfh adslkjf asdlfj afdagsdf</p>
            </th>
          </tr>
          <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid" src="http://placehold.it/200x200" alt="">
                    <p class="artist-name">NFT name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>NFT category</p>
            </th>
            <th>
              <p>NFT Value</p>
            </th>
            <th>
              <p>khjsdkfjh sflkajdshfj adslkjh asdkjlfhadskljfh asdjkhjkhalskdjf hasdjklf adshjkf ahsdjkfl adshfjk  hasdjkfl adshfla dhfjkalsdhfjkadslhf  greafds sdfasd asdfljkadshf adslkfjh adskjflhads fhkadsjfh adslkjf asdlfj afdagsdf</p>
            </th>
          </tr>

          <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid" src="http://placehold.it/200x200" alt="">
                    <p class="artist-name">NFT name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>NFT category</p>
            </th>
            <th>
              <p>NFT Value</p>
            </th>
            <th>
              <p>khjsdkfjh sflkajdshfj adslkjh asdkjlfhadskljfh asdjkhjkhalskdjf hasdjklf adshjkf ahsdjkfl adshfjk  hasdjkfl adshfla dhfjkalsdhfjkadslhf  greafds sdfasd asdfljkadshf adslkfjh adskjflhads fhkadsjfh adslkjf asdlfj afdagsdf</p>
            </th>
          </tr>

        </tbody>
      </table>
      </div>
  <br>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; ArtChain 2022</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
