{% include 'main-template.html' %}

{% block content %}

<head>
  <title>ArtChain | MyWallet</title>
</head>


  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">ArtChain
      <small>MyWallet</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">MyWallet</li>
    </ol>
<div class="mt-4 mb-3">
        <h3>My Cryptos</h3>
<table class="styled-table">
           <thead>
              <tr>
                 <th>Crypto</th>
                 <th>Artist</th>
                 <th>Value</th>
                 <th>Quantity</th>
                 <th>Total Value</th>
                 <th></th>
              </tr>
           </thead>
           <tbody>
              {% for crypto in crypto_dictionary.values() %}
              <tr class="mt-5">
                  <th>
                    <p>{{crypto.name}}</p>
                 </th>
                 <th>
                     <p><a href="profile/{{users_dictionary.get(crypto.user_id).username}}">
                         {{users_dictionary.get(crypto.user_id).username}}
                     </a></p>
                 </th>
                 <th>
                    <p>{{users_dictionary.get(crypto.user_id).value}}</p>
                 </th>
                  <th>
                     <p>{{wallet_dictionary.get(crypto.id).amount}}</p>
                 </th>
                  <th>
                    <p>{{wallet_dictionary.get(crypto.id).amount*users_dictionary.get(crypto.user_id).value}}</p>
                  </th>
                 <th>
                    <div><a class="btn btn-outline-dark mt-auto" href="/item/crypto/{{crypto.name}}">Show</a></div>
                 </th>
              </tr>
              {% endfor %}
           </tbody>
        </table>
      </div>
    <br>
<div class="mt-4 mb-3">
        <h3>My NFTs</h3>
          <hr>
          <table class="styled-table">
        <thead>
          <tr>
            <th>NFT</th>
            <th>Name</th>
            <th>Artist</th>
            <th>Category</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid" src="http://placehold.it/200x200" alt="">
                    <p class="artist-name">NFT name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>NFT category</p>
            </th>
            <th>
              <p>NFT Value</p>
            </th>
            <th>
              <p></p>
            </th>
          </tr>

        </tbody>
      </table>
      </div>
  <br>
  </div>
  <!-- /.container -->

{% endblock content %}

{% include 'footer.html' %}
