{% include 'main-template.html' %}

{% block content %}

<head>
  <title>ArtChain | MyWallet</title>
</head>


  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">ArtChain
      <small>MyWallet</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">MyWallet</li>
    </ol>
<div class="mt-4 mb-3">
        <h3>My Cryptos</h3>
          <hr>
          <table class="styled-table">
        <thead>
          <tr>
            <th>Artist</th>
            <th>Value</th>
            <th>Growth</th>
            <th>Quantity</th>
            <th>Tot. Value</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid-avatar" src="http://placehold.it/100x100" alt="">
                    <p class="artist-name">Artist name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>Artist Value</p>
            </th>
            <th>
              <p>Artist Growth</p>
            </th>
            <th>
              <p>Quantity</p>
            </th>
            <th>
              <p>Total value</p>
            </th>
            <th>
                <div class="sell-crypto">
                 <div><input type="text" class="col-md-5 padding-crypto" placeholder="N° crypto" value=""></div>
                 <div><a class="btn btn-outline-dark mt-3 mb-3 btn-pad" href="#">Sell</a></div>
                </div>            </th>
          </tr>
                  <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid-avatar" src="http://placehold.it/100x100" alt="">
                    <p class="artist-name">Artist name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>Artist Value</p>
            </th>
            <th>
              <p>Artist Growth</p>
            </th>
            <th>
              <p>Quantity</p>
            </th>
            <th>
              <p>Total value</p>
            </th>
            <th>
                <div class="sell-crypto">
                 <div><input type="text" class="col-md-5 padding-crypto" placeholder="N° crypto" value=""></div>
                 <div><a class="btn btn-outline-dark mt-3 mb-3 btn-pad" href="#">Sell</a></div>
                </div>            </th>
          </tr>
                  <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid-avatar" src="http://placehold.it/100x100" alt="">
                    <p class="artist-name">Artist name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>Artist category</p>
            </th>
            <th>
              <p>Artist Value</p>
            </th>
            <th>
              <p>Artist Growth</p>
            </th>
            <th>
              <p>Quantity</p>
            </th>
            <th>
                <div class="sell-crypto">
                 <div><input type="text" class="col-md-5 padding-crypto" placeholder="N° crypto" value=""></div>
                 <div><a class="btn btn-outline-dark mt-3 mb-3 btn-pad" href="#">Sell</a></div>
                </div>            </th>
          </tr>
                  <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid-avatar" src="http://placehold.it/100x100" alt="">
                    <p class="artist-name">Artist name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p class="mt-3 mb-3">Artist category</p>
            </th>
            <th>
              <p class="mt-3 mb-3">Artist Value</p>
            </th>
            <th>
              <p class="mt-3 mb-3">Artist Growth</p>
            </th>
            <th>
              <p class="mt-3 mb-3">Quantity</p>
            </th>
            <th>
                <div class="sell-crypto">
                 <div><input type="text" class="col-md-5 padding-crypto" placeholder="N° crypto" value=""></div>
                 <div><a class="btn btn-outline-dark mt-3 mb-3 btn-pad" href="#">Sell</a></div>
                </div>
            </th>
          </tr>
        </tbody>
      </table>
      </div>
    <br>
<div class="mt-4 mb-3">
        <h3>My NFTs</h3>
          <hr>
          <table class="styled-table">
        <thead>
          <tr>
            <th>NFT</th>
            <th>Category</th>
            <th>Value</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid" src="http://placehold.it/200x200" alt="">
                    <p class="artist-name">NFT name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>NFT category</p>
            </th>
            <th>
              <p>NFT Value</p>
            </th>
            <th>
              <p>khjsdkfjh sflkajdshfj adslkjh asdkjlfhadskljfh asdjkhjkhalskdjf hasdjklf adshjkf ahsdjkfl adshfjk  hasdjkfl adshfla dhfjkalsdhfjkadslhf  greafds sdfasd asdfljkadshf adslkfjh adskjflhads fhkadsjfh adslkjf asdlfj afdagsdf</p>
            </th>
          </tr>
          <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid" src="http://placehold.it/200x200" alt="">
                    <p class="artist-name">NFT name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>NFT category</p>
            </th>
            <th>
              <p>NFT Value</p>
            </th>
            <th>
              <p>khjsdkfjh sflkajdshfj adslkjh asdkjlfhadskljfh asdjkhjkhalskdjf hasdjklf adshjkf ahsdjkfl adshfjk  hasdjkfl adshfla dhfjkalsdhfjkadslhf  greafds sdfasd asdfljkadshf adslkfjh adskjflhads fhkadsjfh adslkjf asdlfj afdagsdf</p>
            </th>
          </tr>
          <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid" src="http://placehold.it/200x200" alt="">
                    <p class="artist-name">NFT name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>NFT category</p>
            </th>
            <th>
              <p>NFT Value</p>
            </th>
            <th>
              <p>khjsdkfjh sflkajdshfj adslkjh asdkjlfhadskljfh asdjkhjkhalskdjf hasdjklf adshjkf ahsdjkfl adshfjk  hasdjkfl adshfla dhfjkalsdhfjkadslhf  greafds sdfasd asdfljkadshf adslkfjh adskjflhads fhkadsjfh adslkjf asdlfj afdagsdf</p>
            </th>
          </tr>

          <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid" src="http://placehold.it/200x200" alt="">
                    <p class="artist-name">NFT name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>NFT category</p>
            </th>
            <th>
              <p>NFT Value</p>
            </th>
            <th>
              <p>khjsdkfjh sflkajdshfj adslkjh asdkjlfhadskljfh asdjkhjkhalskdjf hasdjklf adshjkf ahsdjkfl adshfjk  hasdjkfl adshfla dhfjkalsdhfjkadslhf  greafds sdfasd asdfljkadshf adslkfjh adskjflhads fhkadsjfh adslkjf asdlfj afdagsdf</p>
            </th>
          </tr>

        </tbody>
      </table>
      </div>
  <br>
  </div>
  <!-- /.container -->

{% endblock content %}

{% include 'footer.html' %}
