{% include 'main-template.html' %}

{% block content %}

<head>
  <title>ArtChain | New NFT</title>
</head>

    <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">ArtChain
      <small>New NFT</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/index">Home</a>
      </li>
      <li class="breadcrumb-item active">New NFT</li>
    </ol>

  </div>

           <div class="container">

    <form class="well form-horizontal form-center" action=" " method="post"  id="contact_form">

    <div class="container">

<div class="container rounded bg-white mb-5">
            <div class="p-3 py-5 form-center">
                <div class="row mt-2">
                    <div class="col-md-6 mt-2"><label class="labels">NFT Name</label><input type="text" class="form-control" placeholder="NFT name" value=""></div><br>
                     <div class="col-md-6 mt-2">
                        <label class="labels">Type</label>
                        <select name="type" class="form-control selectpicker">
                          <option value="">Select the type</option>
                          <option>Photo</option>
                          <option>Draw</option>
                        </select>
                        </div><br>
                    <div class="col-md-6 mt-2"><label class="labels">Starting Price</label><input type="number" class="form-control" placeholder="Price in €" value=""></div><br>
                    <div class="col-md-6 mt-2">
                        <label class="labels">Duration</label>
                        <select name="duration" class="form-control selectpicker">
                          <option value="">Select the duration</option>
                          <option>12 hours</option>
                          <option>24 hours</option>
                          <option>48 hours</option>
                          <option>72 hours</option>
                        </select>
                        </div><br>
                    <div class="col-md-6 mt-2"><label class="labels">Description</label><input type="text" class="form-control" placeholder="Description" value=""></div><br>
                    <div class="col-md-6 mt-2"><label class="labels">Image</label><input type="file" class="form-control image-upload-form" value="" accept="image/png, image/jpeg"></div><br>
                </div>
            </div>
        <div class="mt-1 text-center"><button class="btn btn-primary profile-button btn-submit-artist-registration" type="submit">Create Auction</button></div>
    </div>
</div>
    </form>
</div>

{% endblock content %}

{% include 'footer.html' %}
