{% include 'main-template.html' %}

{% block content %}

<head>
  <title>ArtChain | New NFT</title>
</head>

    <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">ArtChain
      <small>New NFT</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/index">Home</a>
      </li>
      <li class="breadcrumb-item active">New NFT</li>
    </ol>

  </div>

{% if user_logged_in.role_id == 3 %}

           <div class="container">

    <form class="well form-horizontal form-center" method="post" enctype=multipart/form-data>
         {{ form.hidden_tag() }}

    <div class="container">

<div class="container rounded bg-white mb-5">
            <div class="p-3 py-5 form-center">
                <div class="row">
                    <div class="col-md-6 mt-2">{{form.nft_name.label}}{{form.nft_name(class="form-control")}}</div><br>
                     <div class="col-md-6 mt-2">
                       {{form.category.label}}{{form.category(class="form-control")}}
                        </div><br>
                    <div class="col-md-6 mt-2">{{form.price.label}}{{form.price(class="form-control")}}</div><br>
                    <div class="col-md-6 mt-2">{{form.description.label}}{{form.description(class="form-control")}}</div><br>
                    <div class="col-md-6 mt-2 form-center">{{form.nft_file.label(class="form-label")}}{{form.nft_file(class="form-control mt-5, border-0", id="formFile")}}</div><br>
                </div>
            </div>
        {{form.submit(class="btn btn-primary align-items-center")}}
    </div>
</div>
    </form>
</div>

{% else %}
<div class="text-center alert alert-warning">In order to create an auction for your NFTs, you must have an artist account.<br>
    <a class="btn btn-primary mt-2 btn-warning" href="/artist-registration">Register as an artist</a>
    <a class="btn btn-primary mt-2 btn-success" href="/index">Back to homepage</a>
</div>

{% endif %}


{% endblock content %}

{% include 'footer.html' %}
