{% include 'main-template.html' %}
{% block content %}
<head>
   <title>ArtChain | {{user.username}}</title>
</head>
<div class="container">
   <h1 class="mt-4 mb-3">ArtChain
      <small>{{user.username}}</small>
   </h1>
   <ol class="breadcrumb">
      <li class="breadcrumb-item">
         <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Profile</li>
   </ol>
   <div class="container rounded bg-white mt-5 mb-5">
      <div class="row">
         <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
               <img class="rounded-circle mt-2" width="150px" src="{{url_for('static', filename='uploads/profilepics/'+user.profile_pic_src)}}">
               <span class="font-weight-bold mt-4">{{user.username}}</span>
               <span class="text-black-50 mt-1">{{user.category}}</span>
               <span class="text-primary font-weight-bold mt-3">{{user.value}}<br>value points</span>
            </div>
         </div>
         <div class="col-md-5 border-right">
            <div class="p-3 py-5">
               <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Personal Data</h4>
               </div>
               <div class="row mt-2">
                  <div class="col-md-6">
                     <label class="labels">Name</label>
                     <h6>{{user.name}}</h6>
                  </div>
                  <div class="col-md-6">
                     <label class="labels">Surname</label>
                     <h6>{{user.surname}}</h6>
                  </div>
               </div>
               <div class="row mt-2">
                  <div class="col-md-12">
                     <label class="labels">Email</label>
                     <h6>{{user.email}}</h6>
                  </div>
                  <br>
               </div>
               <div class="row mt-3">
                  <div class="col-md-6">
                     <label class="labels">Crypto</label>
                     <h6>{{crypto.name}}</h6>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="p-3 py-5">
               <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Social Networks</h4>
               </div>
               {% if user.insta or user.face %}
               <div class="row mt-2">
                  {% if user.insta %}
                  <div class="col-md-6">
                     <label class="labels">Instagram</label>
                     <a href="https://www.instagram.com/{{user.instaname}}">
                        <h6>{{user.instaname}}</h6>
                     </a>
                     <h6>{{user.insta}}<br>followers</h6>
                  </div>
                  <br>
                  {% endif %}
                  {% if user.face %}
                  <div class="col-md-6">
                     <label class="labels">Facebook</label>
                     <h6><a href="https://www.facebook.com/{{user.facename}}">{{user.facename}}</a></h6>
                     <h6>{{user.face}}<br>followers</h6>
                  </div>
                  <br>
                  {% endif %}
               </div>
               <hr>
               {% endif %}
               {% if user.twitter or user.yt %}
               <div class="row mt-3">
                  {% if user.twitter %}
                  <div class="col-md-6">
                     <label class="labels">Twitter</label>
                     <h6><a href="https://www.twitter.com/{{user.twittername}}">{{user.twittername}}</a></h6>
                     <h6>{{user.twitter}}<br>followers</h6>
                  </div>
                  <br>
                  {% endif %}
                  {% if user.yt %}
                  <div class="col-md-6">
                     <label class="labels">Youtube</label>
                     <a href="https://www.youtube.com/c/{{user.ytname}}">
                        <h6>{{user.ytname}}</h6>
                     </a>
                     <h6>{{user.yt}}<br>followers</h6>
                  </div>
                  <br>
                  {% endif %}
               </div>
               <hr>
               {% endif %}
               {% if user.tiktok or user.twitch %}
               <div class="row mt-3">
                  {% if user.tiktok %}
                  <div class="col-md-6">
                     <label class="labels font-weight-bold">TikTok</label>
                     <a href="https://www.tiktok.com/{{user.tiktokname}}">
                        <h6>{{user.tiktokname}}</h6>
                     </a>
                     <h6>{{user.tiktok}}<br>followers</h6>
                  </div>
                  <br>
                  {% endif %}
                  {% if user.twitch %}
                  <div class="col-md-6">
                     <label class="labels">Twitch</label>
                     <a href="https://www.twitch.com/{{user.twitchname}}">
                        <h6>{{user.twitchname}}</h6>
                     </a>
                     <h6>{{user.twitch}}<br>followers</h6>
                  </div>
                  <br>
                  {% endif %}
               </div>
               <hr>
               {% endif %}
               {% if user.category == 'Musician' %}
               {% if user.applemusic or user.spotify %}
               <div class="row mt-3">
                  {% if user.applemusic %}
                  <div class="col-md-6">
                     <label class="labels">Apple Music</label>
                     <a href="https://music.apple.com/it/search?term={{user.applemusicname}}">
                        <h6>{{user.applemusicname}}</h6>
                     </a>
                     <h6>{{user.applemusic}}<br>followers</h6>
                  </div>
                  <br>
                  {% endif %}
                  {% if user.spotify %}
                  <div class="col-md-6">
                     <label class="labels">Spotify</label>
                     <a href="https://www.spotify.com/{{user.spotifyname}}">
                        <h6>{{user.spotifyname}}</h6>
                     </a>
                     <h6>{{user.spotify}}<br>followers</h6>
                  </div>
                  <br>
                  {% endif %}
               </div>
               <hr>
               {% endif %}
               {% if user.soundcloud %}
               <div class="row mt-3">
                  <div class="col-md-6">
                     <label class="labels">SoundCloud</label>
                     <a href="https://www.soundcloud.com/{{user.soundcloudname}}">
                        <h6>{{user.soundcloudname}}</h6>
                     </a>
                     <h6>{{user.soundcloud}}<br>followers</h6>
                  </div>
                  <br>
               </div>
               <hr>
               {% endif %}
               {% endif %}
               <div class="row mt-3">
                  <div class="col-md-6">
                     <label class="labels">Sales</label>
                     <h6>{{user.sales}}</h6>
                  </div>
                  <br>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
</div>
<!-- NFTs section -->
<section class="py-5 bg-light">
   <div class="container px-4 px-lg-5">
      <h1 class="fw-bolder mb-4 text-center">NFTs</h1>
      {% if nft_list|length == 0 %}
      <div class="mt-3">
         <h5 class="text-center">This artist has not created any NFT yet.</h5>
      </div>
      {% endif %}
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
         {% for nft in nft_list %}
         <div class="col mb-5">
            <div class="card h-100">
               <img class="card-img-top" src="{{url_for('static', filename='uploads/nfts/'+nft.img_src)}}" alt="{{nft.name}}" height="50" width="50"/>
               <div class="card-body p-4">
                  <div class="text-center">
                     <h5 class="fw-bolder">{{nft.name}}</h5>
                  </div>
               </div>
               <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/item/nft/{{nft.name}}">Open</a></div>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</section>
{% endblock content %}
{% include 'footer.html' %}