{% include 'main-template.html' %}

{% block content %}

<head>
  <title>ArtChain | Search</title>
</head>

    <div class="container">

    <h1 class="mt-4 mb-3">ArtChain
      <small>Search</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Search</li>
    </ol>

            <div class="jumbotron">
                   <div class="container form-center mb-5">
        <form method="post">
            {{form.hidden_tag()}}
        <div class="input-group">
      <div class="form-outline">
        {{form.search(class="form-control rounded form-control-lg col-md-12", placeholder=searched)}}
      </div>
            {{form.submit(class="btn btn-primary btn-lg")}}
    </div>
        </form>
            </div>

                {% if not nfts and not cryptos and not profiles %}
                <h3 class="text-center mt-4">Unfortunately, we didn't find anything.</h3>
                {% endif %}

                {% if nfts %}
                <h3 class="text-center mt-5">NFT</h3>
                {% for nft in nfts %}
                <h5 class="lead text-center"><a href="/item/nft/{{nft.name}}">{{nft.name}}</a></h5>
                {% endfor %}
                {% endif %}

                {% if cryptos %}
                <h3 class="text-center mt-5">Crypto</h3>
                {% for crypto in cryptos %}
                <h5 class="lead text-center"><a href="/item/crypto/{{crypto.name}}">{{crypto.name}}</a></h5>
                {% endfor %}
                {% endif %}

                {% if profiles %}
                <h3 class="text-center mt-5">Profile</h3>
                {% for profile in profiles %}
                <h5 class="lead text-center"><a href="/profile/{{profile.username}}">{{profile.username}}</a></h5>
                {% endfor %}
                {% endif %}
            </div>
            </div>

{% endblock content %}

{% include 'footer.html' %}