{% include 'main-template.html' %}

{% block content %}

<head>
  <title>ArtChain - Customer Sign Up</title>
</head>


  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">ArtChain
      <small>Sign Up Customer</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/index">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="/login">Login</a>
      </li>
      <li class="breadcrumb-item active">Sign Up Customer</li>
    </ol>

    <div class="container">

    <form method="post" class="well form-horizontal form-center">

      {{ form.hidden_tag() }}

      <div class="container">
        <div class="container rounded bg-white mb-5">
          <div class="p-3 py-5 form-center">
           <div class="row mt-2">
           <div class="col-md-6 mt-2">
              {{form.username.label}}
              {{form.username(class="form-control", placeholder="username")}}
           </div><br>
             <div class="col-md-6 mt-2">
            {{form.email.label}}
            {{form.email(class="form-control", placeholder="email")}}
             </div><br>
             <div class="col-md-6 mt-2">
               {{form.password.label}}
               {{form.password(class="form-control", placeholder="password")}}
             </div><br>
             <div class="col-md-6 mt-2">
               {{form.confpassword.label}}
               {{form.confpassword(class="form-control", placeholder="confirm password")}}

             </div><br>
          </div>
            </div>
        <div class="mt-1 text-center"><button class="btn btn-primary profile-button btn-submit-artist-registration" type="submit">Create account</button></div>
      </div>

          {% if unique_db_error %}
             <div class="alert alert-danger center-title" role="alert">
              Username or email already used
            </div>
          {% endif %}

          {% if registration_success %}
          <div class="alert alert-success center-title" role="alert">
              Registration successful. <a href="/login">Click here to login</a>
          </div>
          {% endif %}

        {% for error in form.email.errors %}
          {% if error %}
            <div class="alert alert-danger center-title" role="alert">
              {{ error }}
            </div>
          {% endif %}
        {% endfor %}

         {% for error in form.username.errors %}
          {% if error %}
            <div class="alert alert-danger center-title" role="alert">
              {{ error }}
            </div>
          {% endif %}
        {% endfor %}

          {% for error in form.password.errors %}
          {% if error %}
            <div class="alert alert-danger center-title" role="alert">
              {{ error }}
            </div>
          {% endif %}
        {% endfor %}

         {% for error in form.errors %}
          {% if error %}
            <div class="alert alert-danger center-title" role="alert">
              {{ error }}
            </div>
          {% endif %}
        {% endfor %}


          {% for error in form.confpassword.errors %}
          {% if error %}
            <div class="alert alert-danger center-title" role="alert">
              {{ error }}
            </div>
          {% endif %}
        {% endfor %}

        {% if form.password.data != form.confpassword.data %}
         <div class="alert alert-danger center-title" role="alert">
              {{"Password should match"}}
            </div>
        {% endif %}

    </div>

    </form>
</div>

  </div>

{% endblock content %}

{% include 'footer.html' %}