{% include 'main-template.html' %}

{% block content %}

<head>
  <title>ArtChain - Artist Sign Up</title>
</head>


  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">ArtChain
      <small>Sign Up Artist</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/index">Home</a>
      </li>
       <li class="breadcrumb-item">
        <a href="/login">Login</a>
      </li>
      <li class="breadcrumb-item active">Sign Up Artist</li>
    </ol>

    <div class="container">

<div class="container rounded bg-white mt-5 mb-5">
    <form method="post">
        {{ form.csrf_token }}
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold"></span><span class="text-black-50"></span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Personal Data</h4>
                </div>

                <div class="row mt-2">
                    <div class="col-md-6">{{form.name.label}} {{form.name(class="form-control", placeholder="name")}}</div>
                    <div class="col-md-6">{{form.surname.label}} {{form.surname(class="form-control", placeholder="surname")}}</div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">{{form.username.label}} {{form.username(class="form-control", placeholder="username")}}</div><br>
                    <div class="col-md-12 mt-2">{{form.password.label}} {{form.password(class="form-control", placeholder="password")}}</div><br>
                    <div class="col-md-12 mt-2">{{form.confpassword.label}} {{form.confpassword(class="form-control", placeholder="confirm password")}}</div><br>
                    <div class="col-md-12 mt-2">{{form.email.label}} {{form.email(class="form-control", placeholder="email")}}</div><br>
                    <div class="form-group">
                      <label class="col-md-12 mt-2 control-label">Category</label>
                        <div class="col-md-12 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                          <select name="category" method="GET" class="form-control selectpicker">
                        {% for category in artist_categories %}
                            <option value="{{category}}">{{category}}</option>"
                        {% endfor %}
                        </select>
                      </div>
                    </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span><h4>Social Networks</h4></span></div>
                <div class="col-md-12 mt-2">{{form.instauser.label}} {{form.instauser(class="form-control mb-2", placeholder="username")}}{{form.instafollowers(class="form-control", placeholder="followers")}}</div>
                <div class="col-md-12 mt-2">{{form.faceuser.label}} {{form.faceuser(class="form-control mb-2", placeholder="username")}}{{form.facefollowers(class="form-control", placeholder="followers")}}</div>
                <div class="col-md-12 mt-2">{{form.twitteruser.label}} {{form.twitteruser(class="form-control mb-2", placeholder="username")}}{{form.twitterfollowers(class="form-control", placeholder="followers")}}</div>
                <div class="col-md-12 mt-2">{{form.ytuser.label}} {{form.ytuser(class="form-control mb-2", placeholder="username")}}{{form.ytfollowers(class="form-control", placeholder="followers")}}</div>
                <div class="col-md-12 mt-2">{{form.tiktokuser.label}} {{form.tiktokuser(class="form-control mb-2", placeholder="username")}}{{form.tiktokfollowers(class="form-control", placeholder="followers")}}</div>
                <div class="col-md-12 mt-2">{{form.twitchuser.label}} {{form.twitchuser(class="form-control mb-2", placeholder="username")}}{{form.twitchfollowers(class="form-control", placeholder="followers")}}</div>
                <div class="col-md-12 mt-2">{{form.applemusicuser.label}} {{form.applemusicuser(class="form-control mb-2", placeholder="username")}}{{form.applemusicfollowers(class="form-control", placeholder="followers")}}</div>
                <div class="col-md-12 mt-2">{{form.spotifyuser.label}} {{form.spotifyuser(class="form-control mb-2", placeholder="username")}}{{form.spotifyfollowers(class="form-control", placeholder="followers")}}</div>
                <div class="col-md-12 mt-2">{{form.soundclouduser.label}} {{form.soundclouduser(class="form-control mb-2", placeholder="username")}}{{form.soundcloudfollowers(class="form-control", placeholder="followers")}}</div>
                <div class="col-md-12 mt-2">{{form.sales.label}} {{form.sales(class="form-control mb-2", placeholder="sales")}}</div>
            </div>
        </div>
    </div>
        <div class="mt-5 text-center">{{form.submit(class="btn btn-primary profile-button btn-submit-artist-registration")}}</div>
</form>
         {% for error in form.username.errors %}
          {% if error %}
            <div class="alert alert-danger center-title" role="alert">
              {{ error }}
            </div>
          {% endif %}
        {% endfor %}

        {% for error in form.password.errors %}
          {% if error %}
            <div class="alert alert-danger center-title" role="alert">
              {{ error }}
            </div>
          {% endif %}
        {% endfor %}

        {% for error in form.email.errors %}
          {% if error %}
            <div class="alert alert-danger center-title" role="alert">
              {{ error }}
            </div>
          {% endif %}
        {% endfor %}

        {% if form.password.data != form.confpassword.data %}
         <div class="alert alert-danger center-title" role="alert">
              {{"Password should match"}}
            </div>
        {% endif %}

    </div>
    </div>
    </div>
  </div>
  </div>
  </div>



{% endblock content %}

{% include 'footer.html' %}