<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ArtChain - Sign Up Artist</title>
  <link rel="icon" type="image/x-icon" href="static/images/logos/Logo Artchain.png">

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/modern-business.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/index"><img src="static/images/logos/Logo Artchain white.png" width="85" height="65"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Explore
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPages">
                <a class="dropdown-item" href="/explore-nfts">NFTs</a>
                <a class="dropdown-item" href="/explore-crypto">Cryptocurrencies</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/stats">Stats</a>
            </li>
            <li class="nav-item dropdown"> <!-- per rendere attivo, usare classe active CSS -->
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              MyAccount
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="/myaccount-mywallet">MyWallet</a>
                <a class="dropdown-item" href="/myaccount-profile">Profile</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <br>


  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">ArtChain
      <small>Sign Up Artist</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/index">Home</a>
      </li>
       <li class="breadcrumb-item">
        <a href="/login">Login</a>
      </li>
      <li class="breadcrumb-item active">Sign Up Artist</li>
    </ol>

    <div class="container">

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold"></span><span class="text-black-50"></span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Personal Data</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" value=""></div>
                    <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="" placeholder="surname"></div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">Username</label><input type="text" class="form-control" placeholder="username" value=""></div><br>
                    <div class="col-md-12 mt-2"><label class="labels">Password</label><input type="password" class="form-control" placeholder="password" value=""></div><br>
                    <div class="col-md-12 mt-2"><label class="labels">Confirm Password</label><input type="password" class="form-control" placeholder="confirm password" value=""></div><br>
                    <div class="col-md-12 mt-2"><label class="labels">Email</label><input type="email" class="form-control" placeholder="email" value=""></div><br>
                    <div class="form-group">
                      <label class="col-md-12 mt-2 control-label">Category</label>
                        <div class="col-md-12 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select name="department" class="form-control selectpicker">
                          <option value="">Select your category</option>
                          <option>Musician</option>
                          <option>Sketcher</option>
                          <option>Other</option>
                        </select>
                      </div>
                    </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span><h4>Social Networks numbers</h4></span></div>
                <div class="col-md-12 mt-2"><label class="labels">Instagram</label><input name="insta" type="text" class="form-control" placeholder="followers" value=""></div>
                <div class="col-md-12 mt-2"><label class="labels">Facebook</label><input type="text" class="form-control" placeholder="followers" value=""></div>
              <div class="col-md-12 mt-2"><label class="labels">Twitter</label><input type="text" class="form-control" placeholder="followers" value=""></div>
              <div class="col-md-12 mt-2"><label class="labels">YouTube</label><input type="text" class="form-control" placeholder="followers" value=""></div>
              <div class="col-md-12 mt-2"><label class="labels">TikTok</label><input type="text" class="form-control" placeholder="followers" value=""></div>
              <div class="col-md-12 mt-2"><label class="labels">Twitch</label><input type="text" class="form-control" placeholder="followers" value=""></div>
              <div class="col-md-12 mt-2"><label class="labels">Apple Music</label><input type="text" class="form-control" placeholder="listeners" value=""></div>
              <div class="col-md-12 mt-2"><label class="labels">Spotify</label><input type="text" class="form-control" placeholder="listeners" value=""></div>
              <div class="col-md-12 mt-2"><label class="labels">SoundCloud</label><input type="text" class="form-control" placeholder="listeners" value=""></div>
              <div class="col-md-12 mt-2"><label class="labels">Sales</label><input type="text" class="form-control" placeholder="sales" value=""></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

  <div class="mt-5 text-center"><button class="btn btn-primary profile-button btn-submit-artist-registration" type="button">Create account</button></div>

  </div>
  </div>
  </div>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; ArtChain 2022</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>