<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
{% include 'main-template.html' %}

{% block content %}

<head>
  <title>ArtChain - Stats</title>
</head>


  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">ArtChain
      <small>Stats</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/index">Home</a>
      </li>
      <li class="breadcrumb-item active">Stats</li>
    </ol>

    <div class="mt-4 mb-3">
        <h3>Top Artists</h3>
          <hr>
          <table class="styled-table">
        <thead>
          <tr>
            <th>Artist</th>
            <th>Category</th>
            <th>Value</th>
            <th>Growth</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid-avatar" src="http://placehold.it/100x100" alt="">
                    <p class="artist-name">Artist name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>Artist category</p>
            </th>
            <th>
              <p>Artist Value</p>
            </th>
            <th>
              <p>Artist Growth</p>
            </th>
          </tr>
                  <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid-avatar" src="http://placehold.it/100x100" alt="">
                    <p class="artist-name">Artist name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>Artist category</p>
            </th>
            <th>
              <p>Artist Value</p>
            </th>
            <th>
              <p>Artist Growth</p>
            </th>
          </tr>
                  <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid-avatar" src="http://placehold.it/100x100" alt="">
                    <p class="artist-name">Artist name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>Artist category</p>
            </th>
            <th>
              <p>Artist Value</p>
            </th>
            <th>
              <p>Artist Growth</p>
            </th>
          </tr>
                  <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid-avatar" src="http://placehold.it/100x100" alt="">
                    <p class="artist-name">Artist name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>Artist category</p>
            </th>
            <th>
              <p>Artist Value</p>
            </th>
            <th>
              <p>Artist Growth</p>
            </th>
          </tr>
        </tbody>
      </table>
      </div>
    <br>
        <div class="mt-4 mb-3">
        <h3>Top Cryptos</h3>
          <hr>
          <table class="styled-table">
        <thead>
          <tr>
            <th>Artist</th>
            <th>Category</th>
            <th>Value</th>
            <th>Growth</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid-avatar" src="http://placehold.it/100x100" alt="">
                    <p class="artist-name">Artist name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>Artist category</p>
            </th>
            <th>
              <p>Artist Value</p>
            </th>
            <th>
              <p>Artist Growth</p>
            </th>
          </tr>
                  <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid-avatar" src="http://placehold.it/100x100" alt="">
                    <p class="artist-name">Artist name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>Artist category</p>
            </th>
            <th>
              <p>Artist Value</p>
            </th>
            <th>
              <p>Artist Growth</p>
            </th>
          </tr>
                  <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid-avatar" src="http://placehold.it/100x100" alt="">
                    <p class="artist-name">Artist name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>Artist category</p>
            </th>
            <th>
              <p>Artist Value</p>
            </th>
            <th>
              <p>Artist Growth</p>
            </th>
          </tr>
                  <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid-avatar" src="http://placehold.it/100x100" alt="">
                    <p class="artist-name">Artist name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>Artist category</p>
            </th>
            <th>
              <p>Artist Value</p>
            </th>
            <th>
              <p>Artist Growth</p>
            </th>
          </tr>
        </tbody>
      </table>
      </div>
    <br>
        <div class="mt-4 mb-3">
        <h3>Top NFTs</h3>
          <hr>
          <table class="styled-table">
        <thead>
          <tr>
            <th>Artist</th>
            <th>Category</th>
            <th>Value</th>
            <th>Growth</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid-avatar" src="http://placehold.it/100x100" alt="">
                    <p class="artist-name">Artist name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>Artist category</p>
            </th>
            <th>
              <p>Artist Value</p>
            </th>
            <th>
              <p>Artist Growth</p>
            </th>
          </tr>
                  <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid-avatar" src="http://placehold.it/100x100" alt="">
                    <p class="artist-name">Artist name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>Artist category</p>
            </th>
            <th>
              <p>Artist Value</p>
            </th>
            <th>
              <p>Artist Growth</p>
            </th>
          </tr>
                  <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid-avatar" src="http://placehold.it/100x100" alt="">
                    <p class="artist-name">Artist name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>Artist category</p>
            </th>
            <th>
              <p>Artist Value</p>
            </th>
            <th>
              <p>Artist Growth</p>
            </th>
          </tr>
                  <tr>
            <th>
              <div>
                <div class="col">
                  <a href="#">
                    <img class="img-fluid-avatar" src="http://placehold.it/100x100" alt="">
                    <p class="artist-name">Artist name</p>
                  </a>
                </div>
              </div>
            </th>
            <th>
              <p>Artist category</p>
            </th>
            <th>
              <p>Artist Value</p>
            </th>
            <th>
              <p>Artist Growth</p>
            </th>
          </tr>
        </tbody>
      </table>
      </div>
  </div>
  <!-- /.container -->

{% endblock content %}

{% include 'footer.html' %}
